.buttons {
  > button {
    color: black;
  }
  > button:hover {
    color: #26c17e;
  }
}

.portfolio-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr); // 2 columns
}

@media (max-width: 1000px) {
  .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .portfolio-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
