.skills-container > div {
  background-color: #26c17e;
  padding: 5px 10px;
  color: white;
  margin-bottom: 10px;
}

.level {
  display: flex;
  > div {
    border: 1px solid #667081;
    width: 100%;
    height: 10px;
    border-top: none;
  }
}
