.contacts-container {
  display: flex;
  flex-direction: column;
  gap: 30px;

  .icon-txt {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  a {
    color: #222935;
    font-size: 16px;
    text-decoration: none;
    span {
      font-weight: 700;
    }
    p {
      font-weight: 200;
      font-size: 15px;
    }
  }

  .socials-icon {
    color: #26c17e;
    height: 30px;
  }
}
